<header class="header-container text-center">
  <i class="fas fa-bars" (click)="changeValue()" #menuBtn></i>
  <h1>Hola soy Rolando Gómez, web developer</h1>
  <p>
    Desarrollador web con esperiencia en JavaScript, COBOL, Java, bases de datos
    MySQL, VuesJS, Angular, entre otros.
  </p>
  <p>
    Cuento con 1 año y medio de experiencia como Desarrollador Analista para el
    banco CITIBANAMEX usando tecnologías como COBOL, además de contar con
    algunos proyecto de freelance.
  </p>
  <nav class="navbar">
    <ul class="navbar-list d-flex list justify-content-spacearound">
      <li class="navbar-item pulse" routerLink="/my-experience" routerLinkActive="active">Proyectos</li>
      <li class="navbar-item pulse" routerLink="/my-education" routerLinkActive="active">Educación</li>
      <li class="navbar-item pulse" routerLink="/my-contact" routerLinkActive="active">Contacto</li>
    </ul>
  </nav>
</header>
