<div class="contact-container">
  <app-title-bar [title]="'Hola, contactame en... '" [icon]="'fas fa-address-book'"/>
  <ul class="list d-flex">
    <li>Rolando Gómez López - Web Developer</li>
    <li>
      <a href="" class="link"><i class="fas fa-phone-alt"></i> +52 961 366 9445</a>
    </li>
    <li>
      <a href="" class="link"><i class="fab fa-instagram-square"></i>rolandoGL</a>
    </li>
    <li>
      <a href="" class="link"><i class="fas fa-at"></i> rolandogomez.dev&#64;gmail.com</a>
    </li>

  </ul>
</div>
