<app-title-bar [title]="'Proyecto 1'" />
<div class="container d-flex">
  <app-slider />
  <div class="project-content">
    <h2>Proyecto 1</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia ex
      labore cumque nihil in dolore, suscipit vitae illo earum asperiores
      voluptatum eos nam porro eius beatae, maxime optio voluptatibus harum!
    </p>
    <h3>Tecnologias:</h3>
    <ul class="list d-flex">
      <li>vueJS</li>
      <li>Angular</li>
      <li>CSS</li>
      <li>css</li>
      <li>TypeScript</li>
      <li>JavaScript</li>
      <li>JavaScript</li>
    </ul>
  </div>
</div>
