<div class="education-container">
  <app-title-bar [title]="'Educación y Cursos'" [icon]="'fas fa-graduation-cap'"/>
  <div class="time-line">
    <div class="card">
      <div class="card-header">2002</div>
      <div class="card-subheader">TecNM</div>
      <div class="card-content">
        <p>
          Ing. Sistemas Computacionales
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">2002</div>
      <div class="card-subheader">TecNM</div>
      <div class="card-content">
        <p>
          Ing. Sistemas Computacionales
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">2002</div>
      <div class="card-subheader">TecNM</div>
      <div class="card-content">
        <p>
          Ing. Sistemas Computacionales
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">2002</div>
      <div class="card-subheader">TecNM</div>
      <div class="card-content">
        <p>
          Ing. Sistemas Computacionales
        </p>
      </div>
    </div>
  </div>
</div>
