<div class="sidebar">
  <div class="sidebar-container fadeInLeft">
    <figure class="photo-container d-flex flex-column">
      <img
        src="../../../assets/my-profile-pic.jpg"
        alt=""
        class="photo-content"
      />
      <span class="name">Rolando Gomez Lopez</span>
      <span class="puesto">Web Developer</span>
    </figure>

    <hr />
    <span class="label">Contacto</span>
    <dl>
      <dt>Teléfono:</dt>
      <dd>+52 961-366-9445</dd>
      <dt>Email:</dt>
      <dd>rolandogomez.dev&#64;gmail.com</dd>
      <dt>Ciudad:</dt>
      <dd>Ciudad de México</dd>
    </dl>
    <span class="label">Habilidades/Herramientas</span>
    <ul>
      <li>Trabajo en equipo</li>
      <li>responsable</li>
      <li>Rápido aprendizaje</li>
      <li>Iniciativa y compromiso</li>
      <li>GIT</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Laravel</li>
      <li>VueJS</li>
      <li>Angular</li>
      <li>typeScript</li>
      <li>MySQL</li>
      <li>Boostrap</li>
      <li>COBOL</li>
    </ul>
    <span class="label">Idioma</span>
    <dl>
      <dt>Inglés - Nivel B1</dt>
      <dd>Instituto Harmon Hall</dd>
    </dl>
  </div>
</div>
